/******************************
            Layout
*******************************/

* {
    box-sizing: border-box;
}

header,
footer {
    height: 100px;
    border: 3px solid black;
    clear: both;
}

section {
    height: 300px;
    width: 33.3333%;
    border: 3px solid black;
    float: left;
}

/******************************
        Responsiveness
*******************************/

@media screen and (max-width: 699px) {
    section {
        clear: both;
        width: 100%;
    }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
    .pair {
        width: 50%;
    }

    .last {
        clear: both;
        width: 100%;
    }
}