* {
    box-sizing: border-box;
}

header,
footer,
section,
article {
    border: 3px solid black;
}

header,
footer {
    height: 100px;
    clear: both;
}

article,
section {
    height: 500px;
    float: left;
}

section {
    width: 20%;
}

article {
    width: 40%;
}

