/******************************
            Layout
*******************************/

* {
    box-sizing: border-box;
}

header,
footer,
section,
article {
    border: 3px solid black;
}

header,
footer {
    height: 100px;
    clear: both;
}

article,
section {
    height: 500px;
    float: left;
}

section {
    width: 20%;
}

article {
    width: 40%;
}

/******************************
        Responsiveness
*******************************/

@media screen and (max-width: 699px) {
    section,
    article {
        clear: both;
        width: 100%;
    }

    .pair,
    .loner {
        height: 250px;
    }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
    .pair {
        width: 50%;
        height: 300px;
    }

    .loner,
    article {
        clear: both;
        width: 100%;
    }

    article {
        height: 300px;
    }

    .loner {
        height: 150px;
    }
}
